nav { background-color: #000000; }
.page-footer { background-color: #000000; }
body { font-family: 'Aldrich'; font-size: 14px; }
.dark-primary-color    { background: #000000; } 
.default-primary-color { background: #212121; } 
.light-primary-color   { background: #9E9E9E; } 
.accent-color          { background: #D50000; } 
.accent-light          { background: #FF1744; } 
.accent-tint           { background: #DD3333; } 
.accent-shade          { background: #CF0606; } 
.accent-button         { background: #D50000; box-shadow: 0px 1px 0px #DD3333 inset, 0px -1px 0px #CF0606 inset, 0px 0px 5px rgba(0, 0, 0, 0.5); }